VUE_APP_API_URL=http://localhost:8001
VUE_APP_STREAMING_URL=http://username@localhost:8889
VUE_APP_MQTT_BROKER=ws://localhost:9002

# VUE_APP_API_URL=http://drsys-api.aitips.digital:8000
# VUE_APP_STREAMING_URL=https://username@webrtc.aitips.digital
# VUE_APP_MQTT_BROKER=wss://mqtt-broker.aitips.digital